.vscode
.idea

linux
opensbi
spike

init
build32
build64
buildroot32*
buildroot64*
opensbi-build*
initramfs*
spike-build*
dist
share

*.tmp
*.log
*.o
*.d
*.ko
*.mod
*.cmd
*.symvers
*.order
*.so
*.a
*.dts
*.elf
*.bin
*.img

*.swp
*.swo

*.tar.gz

.DS_Store
Thumbs.db
