.vscode
.idea

linux
opensbi
spike

init
build*
opensbi-build*
initramfs*
spike-build*
dist

*.tmp
*.log
*.o
*.d
*.ko
*.mod
*.cmd
*.symvers
*.order
*.so
*.a
*.dts
*.elf
*.bin
*.img

*.swp
*.swo

*.tar.gz

.DS_Store
Thumbs.db
